/* SE CUSTOMS - TOOL OVERLAYS */
.pivot-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(211, 211, 211, 0.4); /* Light Grey, Translucent */
    border: 1px dashed #FFF;
    position: absolute;
    pointer-events: none;
}

.trajectory-line {
    stroke: #88CCFF; /* Matching Abb's energy color */
    stroke-width: 1;
    stroke-dasharray: 5,5;
}

